# HW1

## Q1

In [21]:
# HW1

## Q1 

What version of pandas did you install?

In [22]:
import pandas as pd

In [23]:
pd.__version__

'2.3.3'

## Q2

How many records are in the dataset?

In [26]:
data = pd.read_csv("car_fuel_efficiency.csv")

data.shape

(9704, 11)

In [25]:
data.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q3

How many fuel types?

In [10]:
data.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [11]:
len(data.fuel_type.unique())

2

In [12]:
data.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [ ]:
# Q4 missing values above

4

In [15]:
# Q5 max fuel efficiency

data.fuel_efficiency_mpg.max()

np.float64(25.96722204888372)

In [28]:
data["origin"].unique()

array(['Europe', 'USA', 'Asia'], dtype=object)

In [29]:
asian_cars = data[data["origin"] == "Asia"]
asian_cars.fuel_efficiency_mpg.max()

np.float64(23.759122836520497)

In [16]:
data.fuel_efficiency_mpg

0       13.231729
1       13.688217
2       14.246341
3       16.912736
4       12.488369
          ...
9699    15.101802
9700    17.962326
9701    17.186587
9702    15.331551
9703    14.884467
Name: fuel_efficiency_mpg, Length: 9704, dtype: float64

In [30]:
# Q6

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [31]:
# median of horsepower

median_hp = data.horsepower.median()

# most frequent value

mode_hp = data.horsepower.mode()

data_copy = data.copy()

data_copy["horsepower"].fillna(mode_hp, inplace=True)

median_new = data_copy.horsepower.median()

print("before, ", median_hp)
print("after ", median_new)

before,  149.0
after  149.0

/var/folders/v5/rxmthd2j3sjc8kdk64_2n1v00000gn/T/ipykernel_41320/1608694994.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_copy["horsepower"].fillna(mode_hp, inplace=True)

In [33]:
data.horsepower.fillna(mode_hp).median()

np.float64(149.0)

In [53]:
X.T.shape

(2, 7)

In [54]:
X.shape

(7, 2)

In [55]:
# Q7


asian_cars_subset = asian_cars[["vehicle_weight", "model_year"]]

asian_cars_first_7 = asian_cars_subset.head(7)

X = asian_cars_first_7.to_numpy()

XTX = X.T @ X

XTX

XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.71497081e-07, -8.34509443e-07],
       [-8.34509443e-07,  1.25380877e-06]])

In [57]:
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

In [60]:
w = XTX_inv @ X.T @ y
w

array([0.01386421, 0.5049067 ])

In [61]:
w.sum()

np.float64(0.5187709081074006)